@import '../../media.scss';
.Entra_Box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & label {
    display: block;
    font-family: 'NanumGothic';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 12px;
  }

  & input {
    width: 30rem;
    height: 5rem;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 3.3rem;
  }

  @include tablet {
  }

  @include desktop {
  }
}

.Button {
  width: 10rem;
  height: 4rem;

  background: #e5ffce;
  border: 1px solid #000000;
  border-radius: 20px;

  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  /* identical to box height */

  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  margin-top: 1.7rem;
}
