.calendar {
  width: 734px;
  height: 622px;

  background: #e5ffe8;
  border: 3px solid #00ff85;
  border-radius: 10px;
  color: rgba(0, 0, 0, 1);
}
.header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.header_left_text {
  font-family: 'Abel';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  display: flex;
  align-items: center;
  text-align: center;
  & span:nth-child(1) {
    margin-right: 5px;
  }
}

.header_right {
  display: flex;

  & div {
    margin: 0px 16px;
  }
}

.days {
  width: 85%;
  margin: 30px auto;

  font-family: 'Abel';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  color: rgba(0, 0, 0, 1);
}

.body {
  height: 13%;
}

.row {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  border-radius: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background-color: #cdffa0;
  border-radius: 10px;
}

.text {
  font-family: 'Abel';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;

  padding: 8px;
}

.disabled {
  opacity: 0;
}
